################################################################################
# Este arquivo .gitignore foi criado automaticamente pelo Microsoft(R) Visual Studio.
################################################################################

/.vs
/AutomacaoMantisBT.Selenium/bin/Debug
/AutomacaoMantisBT.Testes/bin/Debug
/AutomacaoMantisBT.Utils/bin/Debug