<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <appSettings>
    <add key="BROWSER" value="Chrome" />
    <add key="URL_BASE" value="https://ancient-shelf-8143.herokuapp.com/users/sign_in" />

    <add key="DEFAULT_TIMEOUT" value="30" />
    <add key="USERNAME" value="a@a.com.br" />
    <add key="PASSWORD" value="12345678" />
    


  </appSettings>
</configuration>