<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <appSettings>
    <add key="BROWSER" value="chrome" />
    <add key="URL_BASE" value="http://mantis.ramon.base2.com.br/" />
    <add key="DEFAULT_TIMEOUT" value="30" />
    <add key="USERNAME" value="administrator" />
    <add key="PASSWORD" value="221219880" />
    <add key="LOG_FOLDER_NAME" value="TestResult" />
    <!--Selenium GRID
		<add key="URL_REMOTE" value="http://192.168.0.187:4444/wd/hub"/>-->
    <!--ZALENIUM DOCKER-->
    <add key="URL_REMOTE" value="http://172.19.0.2:4445/wd/hub" />
    <add key="REMOTE_DRIVER" value="false" />
    <add key="CHROME_HEADLESS" value="false" />
    <add key="TestDataSheetPath" value="C:\TestData\TestData.xlsx" />
    <add key="TestDataSheetPath2" value="C:\TestData\TestData2.xlsx" />
    <add key="ClientSettingsProvider.ServiceUri" value="" />
  </appSettings>
  <system.web>
    <membership defaultProvider="ClientAuthenticationMembershipProvider">
      <providers>
        <add name="ClientAuthenticationMembershipProvider" type="System.Web.ClientServices.Providers.ClientFormsAuthenticationMembershipProvider, System.Web.Extensions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" serviceUri="" />
      </providers>
    </membership>
    <roleManager defaultProvider="ClientRoleProvider" enabled="true">
      <providers>
        <add name="ClientRoleProvider" type="System.Web.ClientServices.Providers.ClientRoleProvider, System.Web.Extensions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" serviceUri="" cacheTimeout="86400" />
      </providers>
    </roleManager>
  </system.web>
</configuration>