<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <appSettings>
    <add key="BROWSER" value="Chrome" />
    <add key="URL_BASE" value="http://mantis.ramon.base2.com.br/" />

    <add key="DEFAULT_TIMEOUT" value="30" />
    <add key="USERNAME" value="administrator" />
    <add key="PASSWORD" value="T3$T3S" />

    <add key="LOG_FOLDER_NAME" value="TestResult" />
    


  </appSettings>
</configuration>